<ul class="payslip_category_list">
  <% @new_payslip_category.each do |c| %>
    <li class="new_category">
      <div class="name">
        <%= c.name %>
      </div>
      <div class="val themed_text">
        <span>:</span>
        <%= c.amount %>
      </div>
      <div class="del-button">
        <%= link_to image_tag("buttons/delete-new.png", :alt=>'Delete', :border => 0), { :action => "remove_new_paylist_category", :id => c.id, :id3=>CGI::unescape(@salary_date) }, :update => "list-payslip-category", :confirm=>"#{t('delete_confirm_msg')}", :remote => true, method: :DELETE %>
      </div>
    </li>
  <% end %>
  <% @individual.each do |c| %>
    <li class="new_category">
      <div class="name">
        <%= c.name %>
      </div>
      <div class="val themed_text">
        <span>:</span>
        <%= c.amount %>
      </div>
      <div class="del-button">
        <%= link_to image_tag("buttons/delete-new.png", :alt=>'Delete', :border => 0),  { :action => "remove_new_paylist_category", :id => c.id, :id3 =>CGI::unescape(@salary_date) }, :update => "list-payslip-category", :confirm=>"#{t('delete_confirm_msg')}" , :remote => true, method: :DELETE %>
      </div>
    </li>
  <% end %>
</ul>
