<%#= javascript_include_tag :application %>
<br/>
<%= form_tag :action => 'create_payslip_category', :remote => true, :multipart => true, :emp_id => @employee.id , :salary_date => @salary_date do  %>
  <%= hidden_field_tag :employee_id, @employee.id %>
  <%= hidden_field_tag :salary_date, @salary_date %>
  <%= error_messages_for "created_category",:header_message =>nil %>
  <div class="label-field-pair">
    <label for="category_name">
      <%= t('name') %>
    </label>
    <div class="text-input-bg">
      <%= text_field_tag :name %>
    </div>
  </div>
  <div class="label-field-pair">
    <label for="category_amount">
      <%= t('amount') %>
    </label>
    <div class="text-input-bg">
      <%= text_field_tag :amount %>
    </div>
  </div>
  <div class="label-field-pair">
    <label for="category_amount">
      <%= t('is_deduction') %>
    </label>
    <div class="text-input-bg">
      <%= check_box_tag :is_deduction %>
    </div>
  </div>
  <div class="label-field-pair">
    <label for="category_amount">
      <%= t('include_every_month') %>
    </label>
    <div class="text-input-bg">
      <%= check_box_tag :include_every_month %>
    </div>
  </div>
  <div id="new-category-submit-button">
    <%= submit_tag(" #{t('create_text')}") %>
  </div>
<% end %>
