<%= javascript_include_tag :application %>
<div id="content-header">
  <%= image_tag("HR/show_hr.png") %>
  <h1>
    <%= t('employee_subject') %>
  </h1>
  <h3>
    <%= t('associate') %>
  </h3>
  <div id="app-back-button">
    <%= back_button %>
  </div>
</div>
<div id="page-yield">
  <div id="form-content">
    <div class="label-field-pair">
      <label for="course_name">
        <%= t('course_text') %>
      </label>
      <div class="text-input-bg">
        <%= select :subject_assignment, :batch_id, @batches.map {|b| [b.full_name, b.id]}, {prompt: t('select_a_batch')},{ onChange: "onChangeRequest(this, '#{url_for(action: :update_subjects, batch_id: 'paramid')}')" } %>
      </div>
    </div>
    <div id="subjects1">
      <%= render partial: 'subjects', object: @subjects %>
    </div>
  </div>
  <div id="department-select"></div>
</div>
