<br/>
	
	<h3>Purchase Register From <%= @from.strftime('%d %b, %Y') %> To <%= @to.strftime('%d %b, %Y') %></h3>
<table class='table table-bordered'>
	<% totalqty = 0 
	   totalvat = 0
	   totalamountwithoutvat = 0
	   totalamount = 0 %>
  <thead>
    <th>Receipt No</th>
    <th>Receipt Date</th>
    <th>Invoice No</th>
    <th>Invoice Date</th>
    <th>Supplier</th>
    <th>TIN</th>
    <th>Qty</th>
    <th>Amount</th>
    <th>VAT%</th>
	<th>VAT</th>
    <th>Amount</th>
  </thead>
<% @purchases.each do |purchase| %>
	<% sum = purchase.total_amount.to_f %>
	<% totalqty += purchase.purchase_products.sum(:qty) %>
	<% totalvat += (purchase.vat * sum / 100) if purchase.vat %>
	<% totalamountwithoutvat += sum %>
	<% totalamount += purchase.amount.to_f %>
  <tr>
    <td><%= purchase.invoice %></td>
    <td><%= purchase.purchase_date.strftime('%d-%m-%y') if purchase.purchase_date %></td>
    <td><%= purchase.suppliers_invoice %></td>
    <td><%= purchase.invoice_date.strftime('%d-%m-%y') if purchase.invoice_date %></td>
    <td><%= purchase.supplier.name %></td>
    <td><%= purchase.supplier.tin %></td>
    <td><%= purchase.purchase_products.sum(:qty) %></td>
    <td><span class='pull-right'><%= purchase.total_amount.round(2) %></span></td> 
    <td><%= purchase.vat %></td>
	<td><%= (purchase.vat * sum / 100).round(2) if purchase.vat %></td>
    <td><span class='pull-right'><%= purchase.amount %></span></td> 
  </tr>
<% end %>
  <tr>
	<th>Total</th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th><%= totalqty %></th>
    <th><%= totalamountwithoutvat.round(2) %></th>
    <th></th>
	<th><%= totalvat.round(2) %></th>
    <th><%= totalamount.round(2) %></th>
  </tr>
</table>

	