<%#= javascript_include_tag :application %>
<%#= stylesheet_link_tag("exam_groups/index.css") %>
<div id="content-header">
  <%#= image_tag("examination/show_exam.png") %>
  <h1>
    <%= t('exams_text') %>
  </h1>
  <h3>
    <%= t('exam_groups_text') %>
  </h3>
  <div id="app-back-button">
    <%#= back_button %>
  </div>
</div>
<!-- <div class="inner-tab-menu"> -->
<div class="bread_crumb">
    <% if @current_user.admin? or @user_privileges.map{|p| p.name}.include?('ExaminationControl') or @user_privileges.map{|p| p.name}.include?('EnterResults') %>
      <% if permitted_to? :new,:exam_groups %>
          <%= link_to "#{t('new_text')}", new_batch_exam_group_path(@batch), class: "label label-lg label-pink arrowed-right" %>  »
      <% end %>
    <% end %>
    <% if permitted_to? :grouping,:exam %>
        <%= link_to "#{t('connect_exams')}", {:controller=>'exam', :action=>'grouping', :id=>@batch}, class: "label label-lg arrowed-in label-pink arrowed-right" %>
    <% end %>
</div><br>
<div id="page-yield">
  <% unless flash[:notice].nil? %>
    <p class="flash-msg">
      <%= flash[:notice] %>
    </p>
  <% end %>
  <div class="bread_crumb">
    <%= link_to t('exams_text'), :controller => "exam", :action=>"index" %> » 
    <%= link_to "#{t('exam_management')}", :controller => "exam", :action => "create_exam" %> » 
    <%= t('exam_groups_text') %>
  </div>
  <div class="box">
    <table id="listing" width="100%" class="table table-striped">
      <tr class="tr-head">
        <td>
          <%= t('exam_name') %>
        </td>
        <% if @current_user.admin? or @user_privileges.map{|p| p.name}.include?('ExaminationControl') or @user_privileges.map{|p| p.name}.include?('EnterResults') %>
          <td>
            <%= t('actions') %>
            <%= image_tag("loader.gif", :align => "absmiddle", :border => 0, :id => "loader", :style =>"display: none;" ) %>
          </td>
        <% end %>
      </tr>
      <% @config = Setting.available_modules %>
      <% @exam_groups.each do |exam_group| %>
        <tr class="tr-<%= cycle('odd', 'even') %>">
          <td class="col-2">
            <%= link_to exam_group.name, [@batch, exam_group] %>
            <% if @current_user.admin? or @user_privileges.map{|p| p.name}.include?('ExaminationControl') or @user_privileges.map{|p| p.name}.include?('EnterResults') %>
              <span>
                <small>
                  <%= link_to("#{t('delete_text')}", {:action=> :delete, :id => exam_group.id, :batch_id=> @batch.id}, method: :DELETE, class: "btn btn-danger btn-sm btn-warning btn-bold") if exam_group.removable? %>
                  <s>
                    <%= "#{t('delete_text')}" unless exam_group.removable? %>
                  </s>
                </small>
              </span>
            <% end %>
          </td>
          <% if @current_user.admin? or @user_privileges.map{|p| p.name}.include?('ExaminationControl') or @user_privileges.map{|p| p.name}.include?('EnterResults') %>
            <td class="col-2">
              <small>
                <% unless exam_group.is_published %>
                  <%= link_to("#{t('publish_exam_schedule')}",{:controller=>'exam',:action=>'publish',:id=>exam_group.id,:status=>"schedule"}, :remote=> true) %>
                <% else %>
                  <% unless  exam_group.result_published %>
                    <%= t('schedule_published') %>
                    <% if @sms_setting.application_sms_active and @sms_setting.exam_result_schedule_sms_active %>
                      <%= link_to "#{t('resend')}",{:controller=>'exam',:action=>'publish',:id=>exam_group.id,:status=>"schedule"}, :remote => true %>
                      <%= t('sms_notification') %>
                      <br/>
                    <% end %>
                    <%= link_to t('publish_exam_result'), { controller: :exam, action: :publish, id: exam_group.id, status: :result}, method: :DELETE, :remote => true, :confirm=>"#{t('delete_confirm_msg')}" %>
                  <% else %>
                    <%= t('result_published') %>
                    <% if @sms_setting.application_sms_active and @sms_setting.exam_result_schedule_sms_active %>
                      <%= link_to "#{t('resend_sms_notification')}",{:controller=>'exam',:action=>'publish',:id=>exam_group.id,:status=>"result"}, :remote => true %>
                    <% end %>
                  <% end %>
                <% end %>
                <span id="publish-notice-<%= exam_group.id %>"></span>
              </small>
            </td>
          <% end %>
        </tr>
      <% end %>
      <% if @batch.cce_enabled? %>
        <% if permitted_to? :observation_groups,  :assessment_scores %>
          <tr class="tr-<%= cycle('odd', 'even') %>">
            <td class="col-1" colspan="2">
              <%= link_to "Co-Scholastic result entry", observation_groups_assessment_scores_path(:batch_id=>@batch.id) %>
            </td>
          </tr>
        <% end %>
      <% end %>
    </table>
    <div class="extender"></div>
  </div>
</div>
