<%#= javascript_include_tag :application %>
<div id="content-header">
  <%#= image_tag("examination/show_exam.png") %>
  <h1>
    <%= t('exams_text') %>
  </h1>
  <h3>
    <%= t('ranking_level_report') %>
  </h3>
  <div id="app-back-button">
    <%#= back_button %>
  </div>
</div>
<div id="page-yield">
  <% unless flash[:notice].nil? %>
    <p class="flash-msg">
      <%= flash[:notice] %>
    </p>
  <% end %>
  <div class="bread_crumb">
    <%= link_to t('exam_text'), exam_index_path %> »
    <%= link_to t('report_center'), report_center_exam_index_path%> »
    <%= t('ranking_level_report')%>
  </div>
  <div class="box">
    <%= form_for :ranking_level_report, url: student_ranking_level_report_exam_index_path do |x| %>
      <div class="label-field-pair">
        <label for="student_course">
          <%= t('select_mode') %>
          :
        </label>
        <div class="text-input-bg">
          <%= select :ranking_level_report, :mode, [[t('course_wise'),"course"],[('batch_wise'),"batch"]],{:prompt => "select a mode"}, {:onChange => "onChangeRequest(this, '#{url_for(action: :select_mode, mode: 'paramid')}')"} %>
        </div><br>
      </div>
      <div id="course-batch"></div><br>
      <%= submit_tag "", :value => " #{t('view')}", :class => "btn btn-pink" %>
    <% end %>
    <div class="extender"></div>
  </div>
</div>
