<%#= javascript_include_tag :application %>
<div id="content-header">
  <%#= image_tag("examination/show_exam.png") %>
  <h1>
    <%= t('exams_text') %>
  </h1>
  <h3>
    <%= t('subject_wise_report') %>
  </h3>
  <div id="app-back-button">
    <%#= back_button %>
  </div>
  <div id="page-yield">
    <% unless flash[:notice].nil? %>
      <p class="flash-msg">
        <%= flash[:notice] %>
      </p>
    <% end %>
    <div class="bread_crumb">
      <%= link_to t('exam_text'), exam_index_path %> »
      <%= link_to t('report_center'), report_center_exam_index_path %> »
      <%= t('subject_wise_report') %>
    </div>
    <div class="box">
      <%= form_for :exam_report, url: generated_report2_exam_index_path do |x| %>
        <div class="text-input-bg">
          <%= select :exam_report, :batch_id, @batches.map {|b| [b.full_name, b.id]}, {:prompt => "#{t('select_a_batch')}"}, {:onChange => "onChangeRequest(this, '#{url_for(action: :list_subjects, batch_id: 'paramid')}')"} %>
        </div><br>
        <div>
          <div class="text-input-bg" id="subject-select">
            <%= select :exam_report, :subject_id, @subjects.map{|subject| [subject.name,subject.id]},prompt: t('select_subject') %>
          </div><br>
          <%= image_tag("loader.gif", :align => "absmiddle", :border => 0, :id => "loader", :style =>"display: none;" ) %>
        </div>
        <%= submit_tag "", :value => "► #{t('view')}", :class => "btn btn-primary" %>
      <% end %>
      <div class="extender"></div>
    </div>
  </div>
</div>
