
      <table class="table table-striped">
        <h3>Total Working Days : <%= @total_working_days %></h3>
          <tr>
            <td>
              S.No
            </td>
            <td>
              Name
            </td>
            <td>Batch</td>
            <td>Admission No</td>
            <td>Present Days</td>
            <td>Percent %</td>

          </tr>
          <% i = 0 %>
          <% @students.each do |student| %>
            <tr class="tr-<%= cycle('odd', 'even') %>">
              <td class="col-1"><%= i+=1 %></td>
                <td class="col-2"><%=  link_to student.first_name, :controller => 'students', :action => 'show', :id => student.id%></td>
              <td class="col-2"><%= student.batch.full_name %></td>
              <td class="col-2"><%= student.admission_no %></td>
              <td><%= @total_working_days %></td>
              <td><%#= (((@total_working_days - @attendances[student.id].count).to_f / @total_working_days) * 100).round(2) %> %</td>
            </tr>
          <% end %>

          
      </table>

