<div id="page-yield" style="padding:20px;">
  <div id="flash_box"></div>
  <% unless flash[:notice].nil? %>
    <p class="flash-msg">
      <%= flash[:notice] %>
    </p>
  <% end %>
  <div class="box">
    <div id="message"></div>
    <div class="row">
    <div class="col-md-6">
    <div class="link-box">
      <div class="link-heading">
        <%= link_to "#{t('create_fee_collection')}", {:action => 'fee_collection_new'}, style: "font-weight:bold;font-size:18px;" %>
      </div>
      <div class="link-descr">
        <%= t('creates_new_fee_collecting_dates') %>
      </div>
    </div>
    </div>
    <div class="col-md-6">
    <div class="link-box">
      <div class="link-heading">
        <%= link_to "#{t('view')}", {:action => "fee_collection_view"}, style: "font-weight:bold;font-size:18px;" %>
      </div>
      <div class="link-descr">
        <%= t('displays_collection_dates') %>
      </div>
    </div>
    </div>
    </div>
    <div id="modal-box" style="display:none;overflow:hidden; "></div>
  </div>
</div>
