

<div id="page-yield" style="padding-left:20px;padding-top:20px;">

  <% unless flash[:notice].nil? %><p class="flash-msg"><%= flash[:notice] %></p><% end %>
  <div class="box">
    <div class="row">
    <div class="col-md-6">
    <div class="link-box">
      <div class="link-heading"><%= link_to "#{t('create_fees')}  ", {:action => "master_fees"}, style: "font-weight:bold;font-size:18px;" %></div>
      <div class="link-descr"><%= t('creates_master_fees_and_additional_fees') %></div>
    </div>
    </div>

    <div class="col-md-6">
    <div class="link-box">
      <div class="link-heading"><%= link_to "#{t('fees_collection')}", {:action => "fee_collection"}, style: "font-weight:bold;font-size:18px;" %></div>
      <div class="link-descr"><%= t('creates_new_fee_collecting_dates') %> </div>
    </div>
    </div>
    </div><br><br>

    <div class="row">
    <div class="col-md-6">
    <div class="link-box">
      <div class="link-heading"><%= link_to t('fees_text'), {:controller => "finance" , :action => "fees_submission_index"}, style: "font-weight:bold;font-size:18px;" %> </div>
      <div class="link-descr"><%= t('fees_submission') %></div>
    </div>
    </div>
    
    <div class="col-md-6">
    <div class="link-box">
      <div class="link-heading"><%= link_to "#{t('fees_structure')}", {:action => "fees_student_structure_search"}, style: "font-weight:bold;font-size:18px;" %> </div>
      <div class="link-descr"><%= t('displays_fees_structure_for_student') %></div>
    </div>
    </div>
    </div><br><br>
    
    <div class="row">
    <div class="col-md-6">
    <div class="link-box">
      <div class="link-heading"><%= link_to "#{t('fees_defaulters_text')}", {:action => "fees_defaulters"}, style: "font-weight:bold;font-size:18px;" %></div>
      <div class="link-descr"><%= t('students_with_fees_dues') %> </div>
    </div>
    </div>
    </div>

    <!-- Instant Fees -->

    <% FedenaPlugin::ADDITIONAL_LINKS[:instant_fees_index_link].each do |mod| %>
      <%  if permitted_to? "#{mod[:destination][:action]}".to_sym,"#{mod[:destination][:controller]}".to_sym %>
        <div class="link-box">
          <div class="link-heading"><%= link_to "#{t("#{mod[:title]}")}",mod[:destination] %></div>
          <div class="link-descr"><%= "#{t("#{mod[:description]}")}" %></div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
